body {
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 60px 30px;
  border-radius: 70px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
  width: 350px;
  text-align: center;
}

input[type="email"] {
  width: 95%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
}

.signup-btn {
  background: #EBB44D;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 100px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.code-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.login-link {
  font-size: 14px;
  margin-top: 10px;
}

.login-link a {
  color: #007BFF;
  text-decoration: none;
}